<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.0.13/css/all.css" %>
    <%= stylesheet_link_tag "https://www.w3schools.com/w3css/4/w3.css" %>
    <%=stylesheet_link_tag"http://fonts.googleapis.com/css?family=Tangerine" %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Raleway" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" %>


  <%= csrf_meta_tags %>
</head>
<header class="header-img w3-display-container w3-content w3-hide-small" style="max-width:1500px">

  <nav>
    <div class="w3-bar w3-white w3-border-bottom">
    <a href="/" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b><i class="fa fa-map-marker w3-margin-right"></i>Spaces</b></a>
    <a href="/" class="w3-bar-item w3-button w3-right w3-text-red "><i class="fa fa-search"></i></a>
    <a href='/places/new' class="w3-bar-item w3-button w3-right w3-text-red">Add A Place</a>
    <a href='/places' class="w3-bar-item w3-button w3-right w3-text-red">Suggestions</a>
    <a href='/meetups' class="w3-bar-item w3-button w3-right w3-text-red"><img id='meetupicon' src= "https://secure.meetup.com/s/img/0/logo/svg/logo--mSwarm.svg"> MeetUps</a></img>
    <%- if current_user -%>
      <a class="w3-bar-item w3-button w3-text-red w3-hover-red" <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> </a>
    <%- else -%>
        <a class="w3-bar-item w3-button w3-text-red w3-hover-red" <%= link_to 'Sign Up', new_user_registration_path %></a>
        <a class="w3-bar-item w3-button w3-text-red w3-hover-red" <%= link_to 'Sign In', new_user_session_path %></a>
    <% end %>

    </div>

  </nav>




  <!-- <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%> -->

  <body>

    <h1 class = 'home-header'> <i class="fas fa-plane"></i> </li>
      Gay Friendly Travel </h1>
  <div class=" w3-content" style="max-width:1100px;">
<br/>



  <%= yield %>


  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>

</body>

<br>
<br>
<br>
<footer class="w3-container w3-center w3-opacity w3-margin-bottom">
  <h5>Find Us On</h5>
  <div class="w3-xlarge w3-padding-16">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</footer>
</html>
