<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.0.13/css/all.css" %>
    <%= stylesheet_link_tag "https://www.w3schools.com/w3css/4/w3.css" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" %>

  <%= csrf_meta_tags %>
</head>
<body class="w3-light-grey">

  <div>
  <nav class = "w3-display-container w3-content w3-hide-small">
    <div class="navbar">
    <a href="/" class="w3-bar-item title"><i class="fa fa-map-marker w3-margin-right"></i>Spaces</a>
    <a href="/places" class="w3-bar-item"><i class="fa fa-search w3-margin-right"></i>Search Suggestions</a>
    <a href='/places/new' class="w3-bar-item">Add A Place</a>
    <a href='/meetups' class="w3-bar-item"><img id='meetupicon' src= "https://secure.meetup.com/s/img/0/logo/svg/logo--mSwarm.svg"> MeetUps</a></img>
    <%- if current_user -%>
      <a class="w3-bar-item" <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> </a>
    <%- else -%>
        <a class="w3-bar-item" <%= link_to 'Sign Up', new_user_registration_path %></a>
        <a class="w3-bar-item" <%= link_to 'Sign In', new_user_session_path %></a>
    <% end %>
  </nav>
</div>


  <!-- <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%> -->


  <%= yield %>


  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>

</body>

</html>
